<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyToDoList</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <script type="html/template" id="toDoTmpl">
  <article data-todoid="<%= _id %>">
    <p><input type="checkbox" name'"completed">
    <%= toDoItem %>
    <button class = "deleteItem btn btn-default">Delete</button>  <button class= "showEditToDoItem btn btn-default">Edit</button>
    </p>
    <form class = "editToDoItem" action="">
      <input type="text" class="form-control" name ="editItem" value="<%= toDoItem %>">
      <button type="submit" class="btn btn-default">Edit to Do</button>
    </form>
  </article>


  </script>

</head>

<body>
  <header>
    <h1>To dos</h1>
  </header>

  <div class="container">
    <div class="row">


      <section class="formCreateItem">
        <form id="createItem" action="">
        <p>
          <input type="text" class="form-control" name="newItem">
          <button type="submit" class="btn btn-default">Add to do</button>
        </p>
        </form>
      </section>

      <section class="ActualList">

        <article>
          <p></p>
        </article>

      </section>

      <div class="navbar">
        <ul>
          <li>All</li>
          <li>Active</li>
          <li>Completed</li>
        </ul>
      </div>

    </div>

  </div>






  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <script src="main.js"></script>

</body>
</html>
